### Games Recommender System Using Clustering | Collaborative based

In [2]:
#4:Data Loading
#5:Analyzing Data Part-1

In [3]:
import pandas as pd
import numpy as np

In [4]:
ratings = pd.read_csv('game_rating.csv')

In [5]:
ratings.head(2)

   user_id     game_name  rating
0      100    Garena Rov       1
1      100  LoL WildRift       1

In [6]:
ratings.shape

(510, 3)

In [7]:
ratings.columns

Index(['user_id', 'game_name', 'rating'], dtype='object')

In [8]:
name_img = pd.read_csv('game_name_img.csv')

In [9]:
name_img.head()

,game_name,img
0,Garena Rov,https://lh5.googleusercontent.com/xevSppq3eOHu...
1,LoL WildRift,https://lh3.googleusercontent.com/KCfCkfllj0fh...
2,Cookie Run:Over break,https://lh5.googleusercontent.com/ULvwWq9E1JWr...
3,Ragnarok X:Next Generation,https://lh4.googleusercontent.com/nNCK32wYzDam...
4,Line Let's Get Rich,https://lh4.googleusercontent.com/6GkBa-MWI5mT...

In [10]:
name_img.shape

(30, 2)

In [11]:
print(ratings.shape)
print(name_img.shape)

(510, 3)
(30, 2)

In [12]:
#6:Analyzing Data Part-2

In [13]:
ratings['user_id'].value_counts()

100    30
109    30
115    30
114    30
113    30
112    30
111    30
110    30
108    30
101    30
107    30
106    30
105    30
104    30
103    30
102    30
116    30
Name: user_id, dtype: int64

In [14]:
ratings['user_id'].unique().shape

(17,)

In [15]:
x = ratings['user_id'].value_counts() > 25

In [16]:
x

100    True
109    True
115    True
114    True
113    True
112    True
111    True
110    True
108    True
101    True
107    True
106    True
105    True
104    True
103    True
102    True
116    True
Name: user_id, dtype: bool

In [17]:
x[x].shape

(17,)

In [18]:
y = x[x].index

In [19]:
y

Int64Index([100, 109, 115, 114, 113, 112, 111, 110, 108, 101, 107, 106, 105,
            104, 103, 102, 116],
           dtype='int64')

In [20]:
ratings = ratings[ratings['user_id'].isin(y)]

In [21]:
ratings.head()

   user_id                   game_name  rating
0      100                  Garena Rov       1
1      100                LoL WildRift       1
2      100       Cookie Run:Over break       3
3      100  Ragnarok X:Next Generation       3
4      100         Line Let's Get Rich       1

In [22]:
ratings.shape

(510, 3)

In [23]:
name_img.head()

,game_name,img
0,Garena Rov,https://lh5.googleusercontent.com/xevSppq3eOHu...
1,LoL WildRift,https://lh3.googleusercontent.com/KCfCkfllj0fh...
2,Cookie Run:Over break,https://lh5.googleusercontent.com/ULvwWq9E1JWr...
3,Ragnarok X:Next Generation,https://lh4.googleusercontent.com/nNCK32wYzDam...
4,Line Let's Get Rich,https://lh4.googleusercontent.com/6GkBa-MWI5mT...

In [24]:
rating_with_game = ratings.merge(name_img, on='game_name')

In [25]:
rating_with_game.head()

,user_id,game_name,rating,img
0,100,Garena Rov,1,https://lh5.googleusercontent.com/xevSppq3eOHu...
1,101,Garena Rov,8,https://lh5.googleusercontent.com/xevSppq3eOHu...
2,102,Garena Rov,10,https://lh5.googleusercontent.com/xevSppq3eOHu...
3,103,Garena Rov,1,https://lh5.googleusercontent.com/xevSppq3eOHu...
4,104,Garena Rov,7,https://lh5.googleusercontent.com/xevSppq3eOHu...

In [26]:
rating_with_game.shape

(510, 4)

In [27]:
num_rating = rating_with_game.groupby('game_name')['rating'].count().reset_index()

In [28]:
num_rating.head()

               game_name  rating
0            8 ball pool      17
1              Among Us!      17
2  Blade&Soul Revolution      17
3           BoomZ Origin      17
4       Candy Crush Saga      17

In [29]:
num_rating.rename(columns={
    'rating':'num_of_rating'},inplace=True)

In [30]:
num_rating.head()

               game_name  num_of_rating
0            8 ball pool             17
1              Among Us!             17
2  Blade&Soul Revolution             17
3           BoomZ Origin             17
4       Candy Crush Saga             17

In [31]:
rating_with_game.head()

,user_id,game_name,rating,img
0,100,Garena Rov,1,https://lh5.googleusercontent.com/xevSppq3eOHu...
1,101,Garena Rov,8,https://lh5.googleusercontent.com/xevSppq3eOHu...
2,102,Garena Rov,10,https://lh5.googleusercontent.com/xevSppq3eOHu...
3,103,Garena Rov,1,https://lh5.googleusercontent.com/xevSppq3eOHu...
4,104,Garena Rov,7,https://lh5.googleusercontent.com/xevSppq3eOHu...

In [32]:
final_rating = rating_with_game.merge(num_rating, on='game_name')

In [33]:
final_rating.head()

,user_id,game_name,rating,img,num_of_rating
0,100,Garena Rov,1,https://lh5.googleusercontent.com/xevSppq3eOHu...,17
1,101,Garena Rov,8,https://lh5.googleusercontent.com/xevSppq3eOHu...,17
2,102,Garena Rov,10,https://lh5.googleusercontent.com/xevSppq3eOHu...,17
3,103,Garena Rov,1,https://lh5.googleusercontent.com/xevSppq3eOHu...,17
4,104,Garena Rov,7,https://lh5.googleusercontent.com/xevSppq3eOHu...,17

In [34]:
final_rating.shape

(510, 5)

In [35]:
final_rating = final_rating[final_rating['num_of_rating']>=12]

In [36]:
final_rating.head()

,user_id,game_name,rating,img,num_of_rating
0,100,Garena Rov,1,https://lh5.googleusercontent.com/xevSppq3eOHu...,17
1,101,Garena Rov,8,https://lh5.googleusercontent.com/xevSppq3eOHu...,17
2,102,Garena Rov,10,https://lh5.googleusercontent.com/xevSppq3eOHu...,17
3,103,Garena Rov,1,https://lh5.googleusercontent.com/xevSppq3eOHu...,17
4,104,Garena Rov,7,https://lh5.googleusercontent.com/xevSppq3eOHu...,17

In [37]:
final_rating.sample(5)

,user_id,game_name,rating,img,num_of_rating
250,112,Blade&Soul Revolution,6,https://lh5.googleusercontent.com/uGLSKEDWoVOB...,17
88,103,Free Fire,1,https://lh6.googleusercontent.com/fgrhdrmGvCkQ...,17
131,112,Meta World: My City,1,https://lh4.googleusercontent.com/vBl-4HGn5V2V...,17
478,102,8 ball pool,4,https://lh3.googleusercontent.com/2NMUR2vaJRfJ...,17
89,104,Free Fire,7,https://lh6.googleusercontent.com/fgrhdrmGvCkQ...,17

In [38]:
final_rating.shape

(510, 5)

In [39]:
final_rating.drop_duplicates(['user_id','game_name'],inplace=True)

In [40]:
final_rating.shape

(510, 5)

In [41]:
final_rating

,user_id,game_name,rating,img,num_of_rating
0,100,Garena Rov,1,https://lh5.googleusercontent.com/xevSppq3eOHu...,17
1,101,Garena Rov,8,https://lh5.googleusercontent.com/xevSppq3eOHu...,17
2,102,Garena Rov,10,https://lh5.googleusercontent.com/xevSppq3eOHu...,17
3,103,Garena Rov,1,https://lh5.googleusercontent.com/xevSppq3eOHu...,17
4,104,Garena Rov,7,https://lh5.googleusercontent.com/xevSppq3eOHu...,17
...,...,...,...,...,...
505,112,Among Us!,6,https://lh4.googleusercontent.com/DvLlRiXWhsfT...,17
506,113,Among Us!,1,https://lh4.googleusercontent.com/DvLlRiXWhsfT...,17
507,114,Among Us!,8,https://lh4.googleusercontent.com/DvLlRiXWhsfT...,17
508,115,Among Us!,5,https://lh4.googleusercontent.com/DvLlRiXWhsfT...,17
509,116,Among Us!,1,https://lh4.googleusercontent.com/DvLlRiXWhsfT...,17

In [42]:
#7:Converting to Pivot Table

In [43]:
game_pivot = ratings.pivot_table(columns='user_id', index='game_name', values='rating')

In [44]:
game_pivot

user_id,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116
game_name,,,,,,,,,,,,,,,,,
8 ball pool,1,3,4,10,3,8,3,2,5,1,1,1,3,1,7,5,1
Among Us!,5,5,7,5,10,10,6,1,2,9,1,1,6,1,8,5,1
Blade&Soul Revolution,10,2,7,1,6,1,2,1,1,1,1,1,6,1,2,2,1
BoomZ Origin,2,7,1,1,3,6,1,1,2,1,1,1,5,1,1,5,1
Candy Crush Saga,1,1,7,1,4,1,2,2,1,5,9,1,2,1,6,5,1
CarX street,7,8,1,5,5,1,3,2,1,1,1,1,1,5,1,5,1
Cat Snack Bar : Cat food games,1,3,1,1,6,8,4,1,3,1,9,1,1,1,1,5,1
Clash of Clans,4,3,5,10,6,1,1,1,1,1,1,1,1,1,3,3,10
Cookie Run:Over break,3,9,5,10,6,1,7,2,1,10,6,1,4,1,10,2,5
FIFA Football,1,1,5,1,2,1,1,1,7,1,1,1,1,1,1,5,1
Family Island - Farming game,7,8,1,1,4,5,1,1,1,1,1,1,1,1,1,5,1
Free Fire,5,3,1,1,7,1,1,1,1,1,2,1,1,1,1,2,1
Garena Rov,1,8,10,1,7,1,1,1,1,1,8,1,6,5,4,1,1
Genshin Impact,5,3,1,1,8,5,1,1,2,1,10,1,3,10,10,10,5
Hay day,1,7,5,10,3,1,1,2,1,1,1,1,1,1,5,6,10
Line Chef,1,7,1,1,5,7,1,2,1,10,2,1,1,5,7,5,1
Line Let's Get Rich,1,2,1,1,8,2,1,1,1,1,2,1,1,7,7,2,1
LoL WildRift,1,3,5,5,3,7,1,1,3,1,4,1,5,2,4,7,5
MU origin 3,3,2,1,1,7,1,1,1,1,1,1,1,4,1,1,2,1
Meta World: My City,1,5,1,1,9,1,1,1,1,1,2,1,1,1,2,2,1
Minecraft,8,8,1,10,8,1,6,1,5,1,5,1,6,6,4,6,9
My Hotpot Story,2,9,1,1,4,8,1,1,1,6,10,1,1,1,7,3,1
PUBG mobile,5,3,1,3,4,6,1,1,1,1,2,1,5,7,10,2,1
PlayPark StreetBallers,1,3,3,1,5,7,2,1,2,1,1,1,1,1,1,5,1
Pokemon GO,7,7,5,1,4,7,10,2,1,1,3,1,1,1,1,5,1
Ragnarok X:Next Generation,3,8,7,8,7,1,1,1,1,1,2,1,1,1,2,5,1
Rise of Kingdoms,9,8,1,1,8,1,1,1,1,1,1,1,1,1,1,3,1
Roblox,1,2,1,1,8,1,3,1,3,1,6,1,5,1,5,2,1
Subway Surfers,1,10,3,1,3,8,10,2,1,6,10,8,2,1,5,5,3
Summoners War,3,3,1,1,7,1,1,1,3,1,1,1,3,1,1,2,1

In [45]:
game_pivot.shape

(30, 17)

In [46]:
game_pivot.fillna(0,inplace=True)

In [47]:
game_pivot

user_id,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116
game_name,,,,,,,,,,,,,,,,,
8 ball pool,1,3,4,10,3,8,3,2,5,1,1,1,3,1,7,5,1
Among Us!,5,5,7,5,10,10,6,1,2,9,1,1,6,1,8,5,1
Blade&Soul Revolution,10,2,7,1,6,1,2,1,1,1,1,1,6,1,2,2,1
BoomZ Origin,2,7,1,1,3,6,1,1,2,1,1,1,5,1,1,5,1
Candy Crush Saga,1,1,7,1,4,1,2,2,1,5,9,1,2,1,6,5,1
CarX street,7,8,1,5,5,1,3,2,1,1,1,1,1,5,1,5,1
Cat Snack Bar : Cat food games,1,3,1,1,6,8,4,1,3,1,9,1,1,1,1,5,1
Clash of Clans,4,3,5,10,6,1,1,1,1,1,1,1,1,1,3,3,10
Cookie Run:Over break,3,9,5,10,6,1,7,2,1,10,6,1,4,1,10,2,5
FIFA Football,1,1,5,1,2,1,1,1,7,1,1,1,1,1,1,5,1
Family Island - Farming game,7,8,1,1,4,5,1,1,1,1,1,1,1,1,1,5,1
Free Fire,5,3,1,1,7,1,1,1,1,1,2,1,1,1,1,2,1
Garena Rov,1,8,10,1,7,1,1,1,1,1,8,1,6,5,4,1,1
Genshin Impact,5,3,1,1,8,5,1,1,2,1,10,1,3,10,10,10,5
Hay day,1,7,5,10,3,1,1,2,1,1,1,1,1,1,5,6,10
Line Chef,1,7,1,1,5,7,1,2,1,10,2,1,1,5,7,5,1
Line Let's Get Rich,1,2,1,1,8,2,1,1,1,1,2,1,1,7,7,2,1
LoL WildRift,1,3,5,5,3,7,1,1,3,1,4,1,5,2,4,7,5
MU origin 3,3,2,1,1,7,1,1,1,1,1,1,1,4,1,1,2,1
Meta World: My City,1,5,1,1,9,1,1,1,1,1,2,1,1,1,2,2,1
Minecraft,8,8,1,10,8,1,6,1,5,1,5,1,6,6,4,6,9
My Hotpot Story,2,9,1,1,4,8,1,1,1,6,10,1,1,1,7,3,1
PUBG mobile,5,3,1,3,4,6,1,1,1,1,2,1,5,7,10,2,1
PlayPark StreetBallers,1,3,3,1,5,7,2,1,2,1,1,1,1,1,1,5,1
Pokemon GO,7,7,5,1,4,7,10,2,1,1,3,1,1,1,1,5,1
Ragnarok X:Next Generation,3,8,7,8,7,1,1,1,1,1,2,1,1,1,2,5,1
Rise of Kingdoms,9,8,1,1,8,1,1,1,1,1,1,1,1,1,1,3,1
Roblox,1,2,1,1,8,1,3,1,3,1,6,1,5,1,5,2,1
Subway Surfers,1,10,3,1,3,8,10,2,1,6,10,8,2,1,5,5,3
Summoners War,3,3,1,1,7,1,1,1,3,1,1,1,3,1,1,2,1

In [48]:
from scipy.sparse import csr_matrix

In [49]:
game_sparse = csr_matrix(game_pivot)

In [50]:
game_sparse

<30x17 sparse matrix of type '<class 'numpy.int64'>'
	with 510 stored elements in Compressed Sparse Row format>

In [51]:
#8:Model Building

In [52]:
from sklearn.neighbors import NearestNeighbors
model = NearestNeighbors(algorithm='brute')

In [53]:
model.fit(game_sparse)

NearestNeighbors(algorithm='brute')

In [54]:
distance, suggestion = model.kneighbors(game_pivot.iloc[12,:].values.reshape(1,-1), n_neighbors=4)

In [55]:
distance

array([[ 0.        , 11.74734012, 12.20655562, 12.60952021]])

In [56]:
suggestion

array([[12,  4, 27, 25]])

In [57]:
for i in range(len(suggestion)):
    print(game_pivot.index[suggestion[i]])

Index(['Garena Rov', 'Candy Crush Saga', 'Roblox',
       'Ragnarok X:Next Generation'],
      dtype='object', name='game_name')

In [58]:
game_pivot.index[12]

'Garena Rov'

In [59]:
game_pivot.index

Index(['8 ball pool', 'Among Us!', 'Blade&Soul Revolution', 'BoomZ Origin',
       'Candy Crush Saga', 'CarX street', 'Cat Snack Bar : Cat food games',
       'Clash of Clans', 'Cookie Run:Over break', 'FIFA Football',
       'Family Island - Farming game', 'Free Fire', 'Garena Rov',
       'Genshin Impact', 'Hay day', 'Line Chef', 'Line Let's Get Rich',
       'LoL WildRift', 'MU origin 3', 'Meta World: My City', 'Minecraft',
       'My Hotpot Story', 'PUBG mobile', 'PlayPark StreetBallers',
       'Pokemon GO', 'Ragnarok X:Next Generation', 'Rise of Kingdoms',
       'Roblox', 'Subway Surfers', 'Summoners War'],
      dtype='object', name='game_name')

In [60]:
game_name = game_pivot.index

In [61]:
import pickle
pickle.dump(model, open('game_pickle/model.pkl', 'wb'))
pickle.dump(game_name, open('game_pickle/game_name.pkl', 'wb'))
pickle.dump(final_rating, open('game_pickle/final_rating.pkl', 'wb'))
pickle.dump(game_pivot, open('game_pickle/game_pivot.pkl', 'wb'))

In [62]:
def recommend_game(game_name):
    game_id = np.where(game_pivot.index == game_name)[0][0]
    distance, suggestion = model.kneighbors(game_pivot.iloc[game_id,:].values.reshape(1,-1), n_neighbors=4)
    
    for i in range(len(suggestion)):
        games = game_pivot.index[suggestion[i]]
        for j in games:
            print(j)

In [63]:
np.where(game_pivot.index == 'Garena Rov')[0][0]

12

In [67]:
game_name = 'Hay day'
recommend_game(game_name)

Hay day
Clash of Clans
Ragnarok X:Next Generation
LoL WildRift